/*
My colors:
https://github.com/GhitaB/profile/blob/master/notes.txt
*/

body {
  background-image: url(https://raw.githubusercontent.com/GhitaB/profile/master/background-texture.png);
  background-attachment: fixed;
  color: #666666;
}

.container {
  background: #FFFFFF;
  min-height: 120vh;
  margin-bottom: 20px;
  padding: 40px;
}

h1.page-title {
  color: #000000;
  font: normal normal 40px Dancing Script;
}

p, p.page-desctiption, body {
  color: #666666;
}

a, a:hover {
  color: #E6461A;
}

